body {
    text-align: center;
    font-family: sans-serif;
    background-color: pink;
  }
  
  h1 {
    color: teal;
  }
  
  .box-janken-computer {
    
  }
  
  .box-janken-player {
    margin: 2rem;
  }
  
  .button-rock, .button-paper, .button-scissors {
    border: 4px solid #22b6a2;
    border-top: none;
    border-bottom: 8px solid #22b6a2;
    border-radius: 6px;
    background: #27d3bc;
    color: #fff;
    font-weight: 700;
    display: inline;
    margin: 2rem;
    padding: 1rem;
  }
  
  .button-rock:hover,
  .button-paper:hover,
  .button-scissors:hover,
  .button-rock:active,
  .button-paper:active,
  .button-scissors:active {
    background: #5de1cf;
    border-bottom: 2px solid #22b6a2;
    transform: translateY(6px);
    transition: all ease-in 0.2s;
  }